.html
  .head
    %meta{:charset => "utf-8"}/
  .body
    .wrapper
      -# = render "headerMap"
      -# = render "contentsMap"
      .headerMap
        .headerMap__logo
          Knock-Knock!
        .headerMap__link
          .headerMap__link__signUpBtn
            = link_to "サインアップ", "#", class: "signUpBtnx"
          .headerMap__link__loginBtn
            = link_to "ログイン", "#", class: "loginBtnx"
          .headerMap__link__myAboutBtn
            = link_to "マイアバウト", "#", class: "myAboutBtnx"

      .contentsMap
        .contentsMap__mapx
          .contentsMap__mapx__topWord
            情報交換コラボレーション！
          .contentsMap__mapx__middleMap
            マップ埋め込み
            ピン立てる-----

            -# TODO:
            #js-map.map


          .contentsMap__mapx__bottomAbout
            選択したピンのアバウト抜粋
            ピンまでの距離
            ピンの時間と国名都市名

      .footerMap
        .footerMap__foots
          .footerMap__foots__mycompany
            自己紹介
          .footerMap__foots__rights
            Copyright (C) 2020 Tahoo! Japan Corporation. All Rights Reserved.


    %script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?key=【---】"}
    %script{:src => "map.js"}

